{{> header}}
	{{> nav}}
	<div class="container">
		<div class="row-fluid">
			<h3> Hello, {{userProfile.displayName}}! You are currently signed in as {{userProfile.username}} on {{userProfile.provider}}! </h3>
		</div>
		<div class="row-fluid">
			<div class="panel panel-default">
				<header class="panel-heading">
					<div class="container">
						<div class="col-lg-1">
							<img src="{{profPic}}" class="img-responsive img-circle">
						</div>
						<div class="col-lg-11">
							<h4>{{userProfile.displayName}} 
								<small>aka {{userProfile.username}}</small>
							</h4>
							<a href="/fbgraph/json">User JSON</a>
							<a href="/fbgraph/testAPI">Test API</a>
						</div>
					</div>
				</header>
				<div class="panel-body">
					<div class="col-lg-12">
						<div class="row">
							<h3> My Bio </h3>
							{{userProfile._json.bio}}
						</div>
						<div class="row">
							<h3> Let's Play a Game! </h3>
							<span>
								You will be shown a random photo you are tagged in.  Can you guess who posted it?
							</span>
							<br/>
							<form>
								<input name="randPic" id="randPic" type="hidden">
								<button class="btn btn-primary" id="randPicBtn" href="#">
									I accept your challenge!
								</button>
							</form>
						</div>
						<div class="row">
							<h3>Known Bugs</h3>
							<p> For some reason, the Facebook photo urls will only render as a 1px x 1px image. (If you don't believe me, check this pages source code after you click the button!).</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<a href="/fbgraph/friends"> click </a>
		<div class="row-fluid">
			<!-- <a href="/fbgraph/friends">view friends</a> -->
			<div id="myGraph">
				<!-- Populate svg d3 graph here -->
			</div>
		</div>

		<!-- modal collection -->
		<div id="picResult" class="modal fade">
		  <div class="modal-dialog">
		    <div class="modal-content text-center">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        <h4 id="Title" class="modal-title">Who posted this? <small><span class="green" id="answer"></span></small></h4>
		      </div>
		      <div class="modal-body">
		      	<div class="row">
			      	</i><span>
			      		<a id="error" href="">If you don't see a picture, click here.  It will open in a new tab. </a>
			      	</span></i>
			    </div>
			    <div class="row">
			        <div id="pic-container">
			        	<!-- pic will display here -->
			        	<br/>
			        	<h2><span id="success" class="green"></span></h2>
			        	<span id="load">Loading... <br/> Please wait a moment.</span>
			        	<img src="" class="img-responsive img-rounded">

					</div>
				</div>
				<br/>
				<div class="row">
					<span id="subtitle"></span>
				</div>
				<br/>
				<div class="row">
					<div class="input-group">
				      <input id="guess" type="text" class="form-control">
				      <span class="input-group-btn">
				        <button id="getGuess" class="btn btn-primary" type="button">Submit</button>
				      </span>
				    </div><!-- /input-group -->
				    <span id="incorrect" class="help-block red"></span>
				</div>

		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      </div>
		    </div><!-- /.modal-content -->
		  </div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
{{> globaljs}}
<script src="../js/game.js"></script>
<!-- <script src="../js/network.js"></script> -->

<script>

$(document).ready(function() {


	// make an ajax call to get friend demographics

	d3.json('/fbgraph/friendDemographics', function(error, response) {
		if (error) return console.warn(error);

		// set the data of the arcs
		console.log(response);

		var data = [];

		data[0] = {male: response.male};
		data[1] = {female: response.female};

		// arc chart variables

		var radius = 300;							// radius for the chart

		var color = d3.scale.ordinal()
					.range(["#c0392b", "#2980b9"]); // color scale

		var canvas = d3.select('#myGraph').append('svg')
					.attr('width', '100%')
					.attr('height', 1000);			// svg canvas

		var group = canvas.append('g')
					.attr('transform', 'translate(400,400)');	// group container

		var arc = d3.svg.arc() 
					.innerRadius(200)
					.outerRadius(radius);			// complete pie chart arc

		var pie = d3.layout.pie()
					.value(function (d) { return d; });	// piechart layout

		var arcs = 	group.selectAll('.arc')
					.data(pie(data))
					.enter()
					.append('g')
					.attr('class', 'arc');		// appending arcs

		arcs.append('path')
			.attr('d', arc)
			.attr('fill', function(d) { return color(d.data); });

		arcs.append('text')
			.attr('transform', function(d) { return 'translate(' + arc.centroid(d) + ')'; })
			.attr('text-anchor', 'middle')
			.attr('font-size', '2em')
			.text(function (d) {return d.data;})
			.attr('fill', '#fff');




	});


});
</script>

{{> footer}}