{{> header}}
	<div class="container">
		<div class="row-fluid">
			<h3> Hello, {{userProfile.displayName}}! You are currently signed in as {{userProfile.username}} on {{userProfile.provider}}! </h3>
		</div>
		<div class="row-fluid">
			<div class="panel panel-default">
				<header class="panel-heading">
					<div class="container">
						<div class="col-lg-1">
							<img src="{{profPic}}" class="img-responsive img-circle">
						</div>
						<div class="col-lg-11">
							<h4>{{userProfile.displayName}} 
								<small>aka {{userProfile.username}}</small>
							</h4>
							<a href="/fbgraph/json">User JSON</a>
							<a href="/fbgraph/testAPI">Test API</a>
						</div>
					</div>
				</header>
				<div class="panel-body">
					<div class="col-lg-12">
						<div class="row">
							<h3> My Bio </h3>
							{{userProfile._json.bio}}
						</div>
						<div class="row">
							<h3> Let's Play a Game! </h3>
							<span>
								You will be shown a random photo you are tagged in and an anonymous comment from that picture.  Can you guess who said it?
							</span>
							<br/>
							<b>*WARNING* This can be difficult!</b>
							<form>
								<input name="randPic" id="randPic" type="hidden">
								<button class="btn btn-primary" id="randPic" href="#">
									I accept your challenge!
								</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- modal collection -->
		<div id="picResult" class="modal fade">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        <h4 id="Title" class="modal-title">Who said...</h4>
		      </div>
		      <div class="modal-body">
		      	<div class="row">
			      	</i><span id="comment"></span></i>
			    </div>
			    <div class="row">
			        <div id="pic-container">
			        	<!-- tweets will display here -->
					</div>
				</div>
				<div class="row">

				</div>

		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      </div>
		    </div><!-- /.modal-content -->
		  </div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
{{> globaljs}}
	<script type="text/javascript">
		$(document).ready( function () {

			// get a picture
			$.ajax({
				type: 'GET',
				url: '/fbgraph/randPic',
				dataType: 'json'
			}).done( function(response) {
				if (response.msg === '') {
					displayPic( response );
					console.log(response);
				} else {
					alert(response.msg);
				}
			});

			function displayPic( picJSON ) {
				console.log(picJSON);
			}


		}
		
	</script>

{{> footer}}