{{> header}}
	{{> nav}}
	<div class="container">
		<div class="row-fluid">
			<h3> Hello, {{userProfile.displayName}}! You are currently signed in as {{userProfile.username}} on {{userProfile.provider}}! </h3>
		</div>
		<div class="row-fluid">
			<div class="panel panel-default">
				<header class="panel-heading">
					<div class="container">
						<div class="col-lg-1">
							<img src="{{profPic}}" class="img-responsive img-circle">
						</div>
						<div class="col-lg-11">
							<h4>{{userProfile.displayName}} 
								<small>aka {{userProfile.username}}</small>
							</h4>
							<a href="/fbgraph/json">User JSON</a>
							<a href="/fbgraph/testAPI">Test API</a>
						</div>
					</div>
				</header>
				<div class="panel-body">
					<div class="col-lg-12">
						<div class="row">
							<h3> My Bio </h3>
							{{userProfile._json.bio}}
						</div>
						<div class="row">
							<h3> Let's Play a Game! </h3>
							<span>
								You will be shown a random photo you are tagged in.  Can you guess who posted it?
							</span>
							<br/>
							<form>
								<input name="randPic" id="randPic" type="hidden">
								<button class="btn btn-primary" id="randPicBtn" href="#">
									I accept your challenge!
								</button>
							</form>
						</div>
						<div class="row">
							<h3>Known Bugs</h3>
							<p> For some reason, the Facebook photo urls will only render as a 1px x 1px image. (If you don't believe me, check this pages source code after you click the button!).</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- modal collection -->
		<div id="picResult" class="modal fade">
		  <div class="modal-dialog">
		    <div class="modal-content text-center">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		        <h4 id="Title" class="modal-title">Who posted this? <small><span class="green" id="answer"></span></small></h4>
		      </div>
		      <div class="modal-body">
		      	<div class="row">
			      	</i><span>
			      		<a id="error" href="">If you don't see a picture, click here.  It will open in a new tab. </a>
			      	</span></i>
			    </div>
			    <div class="row">
			        <div id="pic-container">
			        	<!-- pic will display here -->
			        	<br/>
			        	<h2><span id="success" class="green"></span></h2>
			        	<span id="load">Loading... <br/> Please wait a moment.</span>
			        	<img src="" class="img-responsive img-rounded">

					</div>
				</div>
				<br/>
				<div class="row">
					<span id="subtitle"></span>
				</div>
				<br/>
				<div class="row">
					<div class="input-group">
				      <input id="guess" type="text" class="form-control">
				      <span class="input-group-btn">
				        <button id="getGuess" class="btn btn-primary" type="button">Submit</button>
				      </span>
				    </div><!-- /input-group -->
				    <span id="incorrect" class="help-block red"></span>
				</div>

		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      </div>
		    </div><!-- /.modal-content -->
		  </div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
{{> globaljs}}
	<script type="text/javascript">
		$(document).ready( function () {
			// global variable
			var solutionArray = [];
			var	solution = '';

			$('#randPicBtn').click(function (e) {

				e.preventDefault();

				$('#picResult').modal('show');

				// get a picture
				$.ajax({
					type: 'GET',
					url: '/fbgraph/randPic',
					dataType: 'json'
				}).done( function(response) {
					if (response.msg === '') {
						displayPic( response );
					} else {
						alert(response.msg);
					}
				});

				function displayPic( picJSON ) {
					// show the modal
					var picsource = '';
						picsource += picJSON.gameJSON.pic;

						solution += picJSON.gameJSON.solution;
						solution = solution.toLowerCase();

					solutionArray = solution.split(' ');

					var img = '<img id="dapic" src="';
						img += picsource;
						img += '" class="img-responsive img-rounded">';

					var caption = picJSON.gameJSON.subtitle;

					$('#load').remove();
					$('#pic-container').append(img);
					$('#subtitle').text(caption);
					$('#error').attr('href', picsource);
				}
			});

			$('#error').click(function (e) {
				// let's hack something that works
				e.preventDefault();

				var picsource = $(this).attr('href');
				window.open(picsource);
			});
			
			$('#getGuess').click(function (e) {
				// get the guess from input
				var guess = $('#guess').val().toLowerCase();
				var guessArray = guess.split(' ');
				var correct = false;

				if (guessArray.length > 1) {
					for( var i = 0; i < solutionArray.length; i++ ){
						// check if the user put in one or any of the answer
						for (var j = 0; j <= guessArray.length; j++) {
							if(solutionArray[i] === guessArray[j]) {
								correct = true;
								break;
							}
						}
					}
				} else {
					for( var i = 0; i < solutionArray.length; i++ ){
						// check if the user put in one or any of the answer
						console.log(solutionArray[i]);
						console.log(guessArray[i]);
						if(solutionArray[i] === guessArray[0]) {
							correct = true;
							break;
						}
					}
				}

				// if it's correct display correct
				if(correct) {
					$('#success').text('Correct! Refresh the page to try another picture.');
					$('#answer').text(solution);
					$('#incorrect').text('');
				} else {
					// it's wrong, display wrong
					$('#incorrect').text('Wrong Answer! Guess again or refresh try a new picture.');
				}

			});

			// remove the picture when the modal closes
			$('#picResult').on('hidden.bs.modal', function (e) {
				// reset everything in the modal
				$('#dapic').remove();
				$('#subtitle').text('');
				$('#incorrect').text('');
				$('#answer').text('');
			});	
		});
		
	</script>

{{> footer}}