{{> header}}
	<div class="container">
		<div class="row-fluid">
			<h3> Hello, {{userProfile.displayName}}! You are currently signed in as {{userProfile.username}} on {{userProfile.provider}}! </h3>
		</div>
		<div class="row-fluid">
			<div class="panel panel-default">
				<header class="panel-heading">
					<h4>{{userProfile.displayName}} 
						<small>aka {{userProfile.username}}</small>
					</h4>
					<a href="/twit/json">User JSON</a>
				</header>
				<div class="panel-body">
					<div class="col-lg-12">
						<div class="col-lg-6">
							<div class="row-fluid">
								The number of people following you is <span id="followers">{{userProfile._json.followers_count}}</span>.
							</div>
							<div class="row-fluid">
								The number of people you are following is <span id="following">{{userProfile._json.friends_count}}</span>.
							</div>
							<div class="row-fluid">
								<h2> Your Follower to Following ratio is:</h2>
								<h1 id="ratio"> </h1>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="row-fluid">
								<h4> Your last status was on {{userProfile._json.status.created_at}} </h4>
							</div>
							<div class="row-fluid">
								You said:
							</div>
							<div class="row-fluid">
								<img id="profPic" class="img-responsive img-circle" src="{{userProfile.photos.0.value}}">
								<i> "{{userProfile._json.status.text}}" </i>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
{{> globaljs}}
<script>
	$(document).ready( function (){

		// calculate follower:following ratio
		var numFollowers = $('#followers').text()
		var numFollowing = $('#following').text();

		var ratio = numFollowers/numFollowing;

		// area to append ratio
		var ratioDisplay = $('#ratio');

		// display messages
		var low = "Hmmm... That's a low score.  Have you gotten all of your friends to follow you?";
		var med = "Not bad! Try tapping into your Facebook friends if you haven't already.";
		var high = "Are you a celebrity?!";

		if( ratio < .5 ) {
			ratioDisplay.text(low);
		} else if ( ratio < 1 ) {
			ratioDisplay.text(med);
		} else {
			ratioDisplay.text(high);
		}

	});
</script>

{{> footer}}