{{> header}}
	<div class="container">
		<div class="row-fluid">
			<h3> Hello, {{userProfile.displayName}}! You are currently signed in as {{userProfile.username}} on {{userProfile.provider}}! </h3>
		</div>
		<div class="row-fluid">
			<div class="panel panel-default">
				<header class="panel-heading">
					<h4>{{userProfile.displayName}} 
						<small>aka {{userProfile.username}}</small>
					</h4>
					<a href="/twit/json">User JSON</a>
				</header>
				<div class="panel-body">
					<ul class="list-unstyled">
						<li>Latest status:
							<ul class="list-unstyled">
								<li> On: {{userProfile._json.status.created_at}} </li>
								<li><i> "{{userProfile._json.status.text}}" </i></li>
							</ul>
						</li>
						<li># Followers: {{userProfile._json.followers_count}}</li>
						<li># Following: {{userProfile._json.friends_count}}</li>
					</ul>
				</div>
			</div>
			
		</div>

	</div>

{{> footer}}