{{> header}}
	<div class="container">
		<div class="row-fluid">
			<h3> Hello, {{userProfile.displayName}}! You are currently signed in as {{userProfile.username}} on {{userProfile.provider}}! </h3>
		</div>
		<div class="row-fluid">
			<div class="panel panel-default">
				<header class="panel-heading">
					<h4>{{userProfile.displayName}} 
						<small>aka {{userProfile.username}}</small>
					</h4>
					<a href="/twit/json">User JSON</a>
				</header>
				<div class="panel-body">
					<div class="col-lg-12">
						<div class="col-lg-6">
							<div class="row-fluid">
								The number of people following you is {{userProfile._json.followers_count}}.
							</div>
							<div class="row-fluid">
								The number of people you are following is {{userProfile._json.friends_count}}.
							</div>
						</div>
						<div class="col-lg-6">
							<div class="row-fluid">
								<h4> Your last status was on {{userProfile._json.status.created_at}} </h4>
							</div>
							<div class="row-fluid">
								You said:
							</div>
							<div class="row-fluid">
								<i> "{{userProfile._json.status.text}}" </i>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

{{> footer}}